{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}Article list{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello world</h1>
    </div>
{% endblock %}
